
#root {
  width: 100%;
  overflow: hidden;
}
.margin-1600 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.box {
  border-style: dashed;
}

.text-48{
  font-size: 48px;
}
/*================================================================
general stuff above.
page-specific stuff below.
================================================================*/
.banner {
  background-color: #FE9900;
  height: 20rem;
  padding-top: 5rem;
}
.sketchbook-grid {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); 
  grid-gap: 10px; 
}
.sketchbook-grid-item {
  max-height: 200px;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
}