
#root {
  width: 100%;
  overflow: hidden;
}
.margin-1600 {
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.box {
  border-style: dashed;
}

.text-48{
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
}

.text-30{
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

/*================================================================
general stuff above.
page-specific stuff below.
================================================================*/
.banner {
  background-color: #FE9900;
  height: 20rem;
  padding-top: 5rem;
}

.nav {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.nav li {
  display: inline-block;
  margin: 0 2rem;
}
.nav a, .nav .Link {
  text-decoration: none;
  color: inherit;
}

/*================================================================*/
.sketchbook-grid {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); 
  grid-gap: 10px; 
}
.sketchbook-grid-item {
  max-height: 200px;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
}

.portfolio-grid{
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); 
  grid-gap: 10px; 
}
.portfolio-grid-item {
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}