/*
z-index guide:
background: -10
interactive media: 0
content: 10
buttons: 20
nav: 100
*/


#root {
  width: 100%;
  overflow: hidden;
}

.no-overflow {
  overflow: hidden;
}

.margin-6 {
  margin-left: 6vw;
  margin-right: 6vw;
}

.padding-6 {
  padding-left: 6vw;
  padding-right: 6vw;
}

.margin-12 {
  margin-left: clamp(1rem, calc(24vw - 168px), 12vw);
  margin-right: clamp(1rem, calc(24vw - 168px), 12vw);
}

.full-height {
  min-height: 100vh;
}

html, body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.big-spacer {
  margin-top: clamp(2rem, calc(16vh - 80px), 4rem);
}

.small-spacer {
  margin-top: clamp(1rem, calc(16vh - 80px), 2rem);
}

.pp {
  line-height: 21px;
}

.bold {
  font-weight: bold;
}

.centered {
  justify-self: center;
}

.text-120 {
  font-weight: bold;
  font-size: clamp(60px, 8vw, 120px);
}

.text-48{
  font-weight: bold;
  font-size: 48px;
}

.text-30{
  font-weight: bold;
  font-size: 30px;
}

.text-24{
  font-weight: bold;
  font-size: 24px;
}

.drop-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.dashed {
  border-style: dashed;
}

/*================================================================
general stuff above.
page-specific stuff below.
================================================================*/
.background-image{
  position: absolute;
  top: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 10000;
}

.nav-bar {
  z-index: 100;
  position: absolute;
  top: 6%;
  left: 6%;
} .nav-link {
  display: flex;
  margin: 0.5rem 0;
  color: rgb(30, 30, 30);
  text-decoration: none;
  color: inherit;
  white-space: pre;
} .nav-link-active-white {
  color: white;
  text-decoration: none;
  animation-name: nav-fade-in;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  white-space: pre;
}  .nav-link-active-blue {
  color: orange;
  text-decoration: none;
  animation-name: nav-fade-in;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  white-space: pre;
} @keyframes nav-fade-in {
  0% {opacity: 0; }
  20% {opacity: 0; }
  100% {opacity: 1; }
}

.interactive-media { /*for the interactive top*/
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  z-index: 0;
} .interactive-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.content { /* for regular content layered in the 'relative' container*/
  position: relative;
  border-style: dashed;
  top: -100vh;
  margin: 0 0 -100vh 0;
  z-index: 10;
}

.flex {
  display: flex;
}

.nav-space {
  height: calc(12vh + 200px);
}

.column-primary { width: 50%;} 
.column-secondary { width: 40%; }
.column-tertiary { width: 10%; }
@media (max-width: 768px) {
  .column-primary {width: 100%}
  .column-secondary {width: 80%}
}

.column-container {
  display: flex;
  width: 88vw;
  gap: 3vw;
} @media (max-width: 768px) {
  .column-container {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.loading {
  position: absolute;
  top: 300px;
  z-index: -1;
  opacity: 0;
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
} .loading h2 {
  color: grey;
}

/*================================================================*/



.sketchbook-grid {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); 
  grid-gap: 10px; 
}
.sketchbook-grid-item {
  max-height: 200px;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
}

.portfolio-grid{
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); 
  grid-gap: 10px; 
}
.portfolio-grid-item {
  max-width: 100%;
  display: flex;
  align-items: flex-end;
}








