
/* this file has the buttons 
make sure all buttons have z-index of 20 */

.button-dot::before { /* expands the clickable area of button-dot */
    z-index: 20;
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    background: transparent;
  }
  .button-dot {
    z-index: 20;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    animation: pulse 4s infinite ease-in-out;
    box-shadow: 0 0 1rem 0 grey, 0 0 10px 0 grey
  } @keyframes pulse {
    0%, 50%, 70%, 100% {
      transform: scale(1);
      opacity: 1;
    } 60% { transform: scale(2); }}
  

  .button-ring {
    z-index: 19;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 0 solid white;
    box-shadow: inset 0 0 0.2px 0.2px white, inset 0 0 0.2px 0.2px gray,
    0 0 0.2px 0.2px white, 0 0 0.2px 0.2px gray;
    animation: pulse-ring 4s infinite ease-in-out;
  } @keyframes pulse-ring {
    0%, 50%, 100% {
      transform: scale(1);
      opacity: 1;
    }   
    70% { opacity: 1; }
    90% {
      transform: scale(8);
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
  } .button-dot:hover {
    cursor: pointer;
  }

  
  .home-to-about {
    bottom: max(((calc(100vw * 9) / 16) * 0.21), 21%);
    left: max(65%, calc(
      calc(100vh * 16 / 9 * 0.65) /* width at transition */
      - calc(calc(calc(100vh * 16 / 9) 
        - 100vw) / 2) /* half of chopped off width */
      )
    )
  }
    
  .home-to-projects {
    bottom: max(((calc(100vw * 9) / 16) * 0.22), 22%);
    right: max(65%, calc(
      calc(100vh * 16 / 9 * 0.65) /* width at transition */
      - calc(calc(calc(100vh * 16 / 9) 
        - 100vw) / 2) /* half of chopped off width */
      )
    )
  }
  
  .about-to-home { /* this one is a back arrow, not a dot */
    z-index: 20;
    height: 40px;
    width: 40px;
    position: absolute;
    background: none;
    border: none;
    top: calc(6% + 155px);
    left: calc(6% - 13px);
  } .about-to-sketchbook:hover {
    cursor: pointer;
  }

  .about-to-sketchbook {
    bottom: max(((calc(100vw * 9) / 16) * 0.32), 32%);
    right: max(72%, calc(
      calc(100vh * 16 / 9 * 0.72) /* width at transition */
      - calc(calc(calc(100vh * 16 / 9) 
        - 100vw) / 2) /* half of chopped off width */
      )
    )
  }